<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bs/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bs/css/bootstrap-theme.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <input type="search" class="form-control" placeholder="Text input" id="text-busqueda">
                    <button id="buscar" class="btn btn-default">
                        Buscar
                    </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <img id="avatar" src="../../img/logo.png" class="img-rounded hidden">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../../bs/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../modules/buscar/buscar.js"></script>
    <script type="text/javascript" src="../../cordova.js"></script>
        <script type="text/javascript" src="../../modules/buscar/index.js"></script>
    
</body>
</html>